.Loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.Loading span {
  display: block;
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.Loading span:nth-child(1) {
  left: 8px;
  animation: LoadingDot1 0.6s infinite;
}
.Loading span:nth-child(2) {
  left: 8px;
  animation: LoadingDot2 0.6s infinite;
}
.Loading span:nth-child(3) {
  left: 32px;
  animation: LoadingDot2 0.6s infinite;
}
.Loading span:nth-child(4) {
  left: 56px;
  animation: LoadingDot3 0.6s infinite;
}
@keyframes LoadingDot1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes LoadingDot2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes LoadingDot3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
